<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/homestyles.css">
    <title>Card Flip Game</title>
</head>
<body>


<!-- NAVBAR-->
<nav class="navbar navbar-expand-sm navbar-light">
    <a class="navbar-brand" href="">MatchTheCards</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<!--HOW TO PLAY-->
<div class="row">

    <div class="col-6">
        <div class="col-10" style="margin:auto">
            <h1>Make learning fun with this interactive card flipping game.</h1>
            <h4>Add up to 12 words or image URLs.</h4>
        </div>

        <!--CARD FORM-->
            <form name="cardform" method="post">
                <div class="col-10" style="margin:auto">
                    <label for="CardForm" class="form-label">Enter each card on a new line.</label>
                    <textarea name="createcards" class="form-control" id="CardForm" rows="6"> </textarea>
                </div>
                <button type="submit" formaction="/game" class="col-md-3 btn btn-lg btn-dark" id="gamestart">Shuffle
                    cards and start!
                </button>
            </form>
    </div>

        <div class="col-6">
            <div class="col-10" style="margin:auto">
                <img src="../static/images/fliphome.gif" class="img-fluid" alt="game example" id="homegif"/>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
                crossorigin="anonymous"></script>

</body>
</html>